<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一起实现的故事</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
            body {
                background-color: #f7f7f7;
                color: #666;
            }
        </style>
</head>
      
<body>
    <br><br><br>
    <div style="display:none"><img src="{% static "images/logo-wb.jpg" %}"></div>
    <div class="container-fluid">
        <img src="{% static "images/logo.png" %}" class="img-responsive">
    </div>
    </br></br></br>
    <form  action="/name/"  method="get">
        <div class="container-fluid">
            <label for="name" class="control-label">输入你的姓名，生成你和创行的故事:</label>
            <input type="text" class="form-control input-lg" id="name" name="name" placeholder="your name">
        </div>
        <div class="container-fluid" data-spy="affix" data-offset-bottom="50">
            <button type="submit" class="btn btn-success btn-lg btn-block">确定</button></br>
            <p class="text-center"><small>-2017南邮创行-</small></p>
            <p class="text-center"><small>当你与创行相遇之时，故事才真正开始</small></p> 
        </div>
    </form>

</body>
</html>