<!--
<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我和创行的故事</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #f7f7f7;
            color: #666;
        }
    </style>        
</head>

<body>
    <div style="display:none"><img src="{% static "images/logo-wb.jpg" %}"></div>
    <div class="container-fluid">
        <img src="{% static "images/logo.png" %}" class="img-responsive">
    </div>
    </br>
    <div class="container center-block" >
        <h2><strong>&emsp;&emsp; {{  name  }}</strong>{{  story  }}</h2>
    </div>
    <div class="container-fluid" data-spy="affix" data-offset-bottom="50">
        <p class="text-center">-2017创行中国华东地区秋季培训-</p>
        <p class="text-center"><small>当你与创行相遇之时，故事才真正开始</small></p> 
    </div>
</body>

</html>
-->

<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我和创行的故事</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
    <script type="text/javascript">
       $youziku.load("body", "cabc3e5b3fb54c17bd2449be6ac9f846", "SansGBW3");
       /*$youziku.load("#id1,.class1,h1", "cabc3e5b3fb54c17bd2449be6ac9f846", "SansGBW3");*/
       /*．．．*/
       $youziku.draw();
    </script>
    <style>
        body {
            background:url({% static "images/background.jpg" %});  
            background-size: cover;  
            background-position:center;  
        }
    </style>        
</head>

<body>
<div class="container-fluid" >    
    <div class="container-fluid" style="position: relative;padding-left:0px;padding-right:0px;">
        <div class="row" style="margin:0px">
            <div class="col-xs-6" style="position: absolute; z-index:90;opacity:0.75;padding:0px">
                <canvas id="triangle-left" height="100" width="140" style="width:100%;height:100%;">您的浏览器不支持 HTML5 canvas 标签。</canvas>
                <script>
                    var canvas = document.getElementById('triangle-left');
                    var context = canvas.getContext('2d');
            
                    context.beginPath();
                    context.moveTo(0, 0);
                    context.lineTo(140, 0);
                    context.lineTo(70, 100);
                    context.closePath();
                    context.fillStyle = "rgb(155, 181, 208)";
                    context.fill();
                </script>        
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-xs-offset-6" style="position: absolute; z-index:80;opacity:0.75;padding:0px">
                <canvas id="triangle-right" height="100" width="140" style="width:100%;height:100%;">您的浏览器不支持 HTML5 canvas 标签。</canvas>
                <script>
                    var canvas = document.getElementById('triangle-right');
                    var context = canvas.getContext('2d');
            
                    context.beginPath();
                    context.moveTo(0, 0);
                    context.lineTo(140, 0);
                    context.lineTo(70, 100);
                    context.closePath();
                    context.fillStyle = "rgb(243, 209, 171)";
                    context.fill();
                </script>        
            </div>
            <div class="clearfix visible-xs-block"></div>  
            <div class="col-xs-6 col-xs-offset-3" style="position: absolute; z-index:100;opacity:0.75;padding:0px">
                <canvas id="triangle-center" height="100" width="140" style="width:100%;height:100%;">您的浏览器不支持 HTML5 canvas 标签。/canvas>
                <script>
                    var canvas = document.getElementById('triangle-center');
                    var context = canvas.getContext('2d');
            
                    context.beginPath();
                    context.moveTo(0, 0);
                    context.lineTo(140, 0);
                    context.lineTo(70, 100);
                    context.closePath();
                    context.fillStyle = "rgb(224, 141, 47)";
                    context.fill();
                </script>        
            </div>
        </div>
        <div class="col-xs-12" style="position: absolute; z-index:666;opacity:0.75;padding:0px">
                <canvas id="myCanvas" width="1000" height="50" style="width:100%;height:100%;">您的浏览器不支持 HTML5 canvas 标签。</canvas>
                <script>
                var c=document.getElementById("myCanvas");
                var ctx=c.getContext("2d");
                ctx.font="40px Arial";
                ctx.fillStyle = "rgb(255, 255, 255)";
                ctx.fillText("-2017创行中国苏皖大区大学生秋季领导力培训会-",60,40);
                </script>
        </div>
    </div>
</div>

<div class="container-fluid center-block" style="position:absolute;left:10px;right:10px;top:150px;padding-left:5px;padding-right:5px;border-style:double;border-width:5px;border-color:rgb(231,160,81);">
    <h1><strong>{{  name  }}:</strong></h1>
    <h2>&emsp;&emsp;{{  story  }}</h2>
    <div class="col-xs-6 col-xs-offset-6" style="padding:0px">
            <img src="{% static "images/logo.png" %}" class="img-responsive">
    </div>
</div>

<div class="container-fluid" data-spy="affix" data-offset-bottom="30">
    <p class="text-center"><small>当你与创行相遇之时，故事才真正开始</small></p> 
</div>

</body>
</html>