<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>来自创行的情书</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
    <script type="text/javascript">
       $youziku.load("body", "3859c356b2ca4d09ab84147bd603c7ce", "cyjianxk");
       /*$youziku.load("#id1,.class1,h1", "3859c356b2ca4d09ab84147bd603c7ce", "cyjianxk");*/
       /*．．．*/
       $youziku.draw();
    </script>
    <style>
        body {
            background:url({% static "images/background.jpg" %});  
            background-size: cover;  
            background-position:center;  
        }
    </style>        
</head>

<body>         
<div id="parent" class="container" style="position:fixed,">
<div class="container-fluid" style="position: relative;z-index=100;padding-left:0px;padding-right:0px;opacity:1;">
        <div class="row" style="margin:0px">
            <div class="col-xs-6" style="position: absolute; z-index:90;opacity:0.75;padding:0px">
                <canvas id="triangle-left" height="100" width="140" style="width:100%;height:100%;">您的浏览器不支持 HTML5 canvas 标签。</canvas>
                <script>
                    var canvas = document.getElementById('triangle-left');
                    var context = canvas.getContext('2d');
            
                    context.beginPath();
                    context.moveTo(0, 0);
                    context.lineTo(140, 0);
                    context.lineTo(70, 100);
                    context.closePath();
                    context.fillStyle = "rgb(155, 181, 208)";
                    context.fill();
                </script>        
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-xs-offset-6" style="position: absolute; z-index:80;opacity:0.75;padding:0px">
                <canvas id="triangle-right" height="100" width="140" style="width:100%;height:100%;">您的浏览器不支持 HTML5 canvas 标签。</canvas>
                <script>
                    var canvas = document.getElementById('triangle-right');
                    var context = canvas.getContext('2d');
            
                    context.beginPath();
                    context.moveTo(0, 0);
                    context.lineTo(140, 0);
                    context.lineTo(70, 100);
                    context.closePath();
                    context.fillStyle = "rgb(243, 209, 171)";
                    context.fill();
                </script>        
            </div>
            <div class="clearfix visible-xs-block"></div>  
            <div class="col-xs-6 col-xs-offset-3" style="position: absolute; z-index:100;opacity:0.75;padding:0px">
                <canvas id="triangle-center" height="100" width="140" style="width:100%;height:100%;">您的浏览器不支持 HTML5 canvas 标签。/canvas>
                <script>
                    var canvas = document.getElementById('triangle-center');
                    var context = canvas.getContext('2d');
            
                    context.beginPath();
                    context.moveTo(0, 0);
                    context.lineTo(140, 0);
                    context.lineTo(70, 100);
                    context.closePath();
                    context.fillStyle = "rgb(224, 141, 47)";
                    context.fill();
                </script>        
            </div>
        </div>
        <div class="col-xs-12" style="position: absolute; z-index:666;opacity:0.75;padding:0px">
                <canvas id="myCanvas" width="1000" height="100" style="width:100%;height:100%;">您的浏览器不支持 HTML5 canvas 标签。</canvas>
                <script>
                var c=document.getElementById("myCanvas");
                var ctx=c.getContext("2d");
                ctx.font="50px cyjianxk";
                ctx.fillStyle = "rgb(255, 255, 255)";
                ctx.fillText("-2017南邮创行-",325,50);
                </script>
        </div>
    </div>
</div>    
    
    <div class="container-fluid center-block" style="position:absolute;z-index=200;opacity:1;padding:0px;left:10px;right:10px;top:135px;">
        <div class="row" style="margin:0px;border-style:double;border-width:5px;border-color:rgb(231,160,81);">
            <div class="container-fluid center-block">
                <h1><strong>{{  name  }}:</strong></h1>
                <h2 style="display: inline;">&emsp;&emsp;</h2>
                <script>
                    var story = {{ story|safe }};
                    var i = 0,j = 1;
                    for(var key in story){
                        i++;
                    }
                    for(;j<=i;j++){
                        if(j%2==1){
                            document.write("<p style='display:inline;font-size:30px;'>" + story[j] + "</p>");
                        }else{
                            document.write("<p style='display:inline;font-size:40px;'>" + story[j] + "</p>");
                        }
                    }
                </script>
            </div>    
    
            <div class="row" style="margin:-15px">
                <div class="col-xs-6 col-xs-offset-6">
                    <img src="{% static "images/logo.png" %}" class="img-responsive">
                </div>
            </div>
        </div>
    
        <br><button id="button1" type="button" class="btn btn-success btn-lg btn-block" onclick="Click()">点击生成，长按保存</button></br>
    
        <div class="container-fluid" data-spy="affix" data-offset-top="1000">
            <div class="col-xs-4 col-xs-offset-4" style="padding:0px">
                    <img src="{% static "images/二维码.png" %}" class="img-responsive">
            </div> 
            <div class="col-xs-8 col-xs-offset-2" style="padding:0px" >
                <p class="text-center"><small>当你与创行相遇之时<br>故事才真正开始</small></p>
            </div>
        </div> 
        
    </div>

    <div id="view" style="position:relative;z-index:0; width:1080px; height:1080px;padding:0;margin:0;background:url({% static "images/background.jpg" %});background-size:cover;border-style:double;border-width:5px;border-color:rgb(231,160,81);">
        <div style="padding:0;margin:0;">
            <img src="{% static "images/logo.png" %}" width="400">
        </div>

        <div style="position:relative;z-index:0; width:900px; height:800px;left:90px;top:50px">
            <p style="font-size:80px;"><strong>{{  name  }}:</strong></p>
            <p style="display: inline;font-size:55px;">&emsp;&emsp;</p>
            <script>
                var story = {{ story|safe }};
                var i = 0,j = 1;
                for(var key in story){
                    i++;
                }
                for(;j<=i;j++){
                    if(j%2==1){
                        document.write("<p style='display:inline;font-size:55px;'>" + story[j] + "</p>");
                    }else{
                        document.write("<p style='display:inline;font-size:75px;'>" + story[j] + "</p>");
                    }
                }
            </script>
        </div>    

        <div style="position:absolute; left:275px; top:975px; line-height:26px" >
            <h2 class="text-center">当你与创行相遇之时,故事才真正开始<br>-2017{{  name  }}和创行的故事-</h2>
        </div> 

        <div style="position:absolute; left:820px;top:820px;"> 
            <img src="{% static "images/二维码.png" %}" class="img-responsive">
        </div> 
    </div>
</div>      

<script>
    var pHtml;
    var view= document.getElementById("view");
    view.style.display="none";
    var view= document.getElementById("button1");
    button1.disabled="disabled";

    function generate() {
        var view= document.getElementById("view");
        view.style.display="";
        html2canvas(document.getElementById('view'), {
            allowTaint:true,
            onrendered:function(canvas) {
                var image = canvas.toDataURL('image/jpg');
                pHtml = "<img src='"+image+"' style='width:100%;height:100%'>";  
            },   
        }); 
    
        var view= document.getElementById("view");
        view.style.display="none";
        var view= document.getElementById("button1");
        button1.disabled="";
    }

    setTimeout(generate, 2000);

    function Click(){
        jQuery("body").html(pHtml);  
        jQuery("body").attr("style","padding-top:40px");
    }
</script>

</body>
</html>